[user]
	name = Cameron Chitsaz
	email = camcorder09@gmail.com
[push]
	default = simple

[alias]
	d = difftool
        change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [[ \\\"$`echo $VAR`\\\" = '$OLD' ]]; then export $VAR='$NEW'; fi\" $@; }; f "

[diff]
	tool = vimdiff

[diff]
    tool = meld
[difftool]
    prompt = true
[difftool "meld"]
    trustExitCode = true
      cmd = open -W -a Meld --args \"$LOCAL\" \"$PWD/$REMOTE\"
[merge]
    tool = meld
[mergetool]
    prompt = true
[mergetool "meld"]
    trustExitCode = true
      cmd = open -W -a Meld --args --auto-merge \"$PWD/$LOCAL\" \"$PWD/$BASE\" \"$PWD/$REMOTE\" --output=\"$PWD/$MERGED\"

[color]
	ui = auto
